<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>吉宏园艺</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/aboutjh.css">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
    $(function(){
        
        
        $('.tab_column li').click(function(event) {
            if( $(this).index() >=1){
                $(this).addClass('current').siblings('').removeClass('current').removeClass("current1");
                $('.pub').eq($(this).index()).addClass('pub_current').siblings('').removeClass('pub_current');
            }else{
                $(this).addClass('current1').siblings('').removeClass('current');
                $('.pub').eq($(this).index()).addClass('pub_current').siblings('').removeClass('pub_current');
            }
                
        });
        $('.team ul li').click(function(event) {
            $(this).addClass('current').siblings('').removeClass('current');
        });

        $('.advertise-l ul li').click(function(event) {
            // alert('message')
            $(this).addClass('current').siblings('').removeClass('current');
        });
    })
</script>
</head>
<body>
    <div class="header">
        <div class="header_bd wrap">
            <p class="contact">联系我们：400-650-750</p>
            <div class="login">
                <ul>
                    <li><a href="">登陆</a></li>
                    <li class="fist_line">|</li>
                    <li><a href="">English</a></li>
                    <li class="sec_line">|</li>
                    <li><a href="">日本语</a></li>
                </ul>
            </div>
        
        </div>
    </div>

    <div class="header_bot">
        <div class="wrap">
            <div class="header_bot_l"></div>
            <div class="header_bot_r">
                <ul class="nav">
                    <li><a href="">首页</a></li>
                    <li><a class="current" href="">关于吉宏</a></li>
                    <li><a href="">吉宏梦</a></li>
                    <li><a href="">盆栽交易平台</a></li>
                    <li><a href="">吉宏发财树</a></li>
                    <li><a href="">行业信息</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner mb30">
        <img src="" alt="" />
    </div>

    <div class="tab_column wrap">
        <ul>
            <li class="first">企业概况</li>
            <li class="publicClass">企业动态</li>
            <li class="publicClass">吉宏团队</li>
            <li class="publicClass current">招聘信息</li>
            <li class="publicClass">常见问题</li>
        </ul>
    </div>

    <div class="introduction pub wrap">
        <div class="main_title">
            <h2 style="width:140px">吉宏企业介绍</h2>
        </div>
        <div class="intr_txt">
            <p class="font16 corgray3 lh30">吉宏园艺自2008年成立以来，始终专注于绿植小盆栽市场，致力于建立中国的全方位花卉交易平台，成为：<br />
               ★为供求双方提供公平、公正的交易平台；<br />
               ★为供方提供销售服务、市场信息、技术支持、种子种苗采购、资材采购以及资金协助的服务平台；<br />
               ★为需求方提供一站式采购、物流配套、售后等的服务平台。</p>
               <br />
            <p class="font16 corgray3 lh30">吉宏花卉交易平台的业务涉及了国内盆栽交易以及盆栽、资材出口。</p>
            <br />
            <p class="font16 corgray3 lh30">经过不断地探索和调整，目前，吉宏园艺花卉交易平台的以“10点互动”为核心的经营模式已被业内广泛认可并接受，交易的产品类别涵盖了观叶盆栽的成品、种子种苗、资材等，交易功能已具规模，服务功能更是日趋多元化。自2009年起，平均每年销售增长率保持在50%，已成为国内同类型花卉交易平台的先行者、佼佼者。</p>
            <br />
            <p class="font16 corgray3 lh30">吉宏园艺如破土而出的毛竹般在短短的五年间迅速成长为当前中国规模最大、运作最成熟的专业花卉交易平台，得益于自成立之日起即肩负着“构建最具影响力的中国花卉交易平台，不断推动中国花卉行业的健康发展”的企业使命，实践着“与客户共赢、与供应商共赢、与员工共赢，与合作伙伴共赢”的“四赢理念”。</p>
            <br />
            <p class="font16 corgray3 lh30">吉宏园艺拥有丰富的超过10年的盆栽、资材出口经验，在港澳台地区、日本、东南亚等市场建立了广泛的渠道。吉宏园艺在未来的五年中将立足已建立的基础和优势，不断地挖掘市场潜力，开拓更多的海外市场，逐步成为业务国际化的中国花卉交易平台。</p>
        </div>
        <div class="achievement">
            <div class="main_title">
            <h2>销售业绩</h2>
            </div>
            <div class="years">
                <ul>
                    <li class="font16 corgray3 fontb">2003</li>
                    <li class="font16 corgray3 fontb">2008</li>
                    <li class="font16 corgray3 fontb">2009</li>
                    <li class="font16 corgray3 fontb">2012</li>
                    <li class="font16 corgray3 fontb">2013</li>
                    <li class="font16 corgray3 fontb">2014</li>
                </ul>
            </div>
            <div class="years_list">
                <ul class="clearfix">
                    <li>
                        <p class="font14 corgray9">在广州花卉科技园<br />建厂，花都建<br />生产基地，业务<br />以出口日本为主</p>
                        <p class="font14 corgray9 lh30 pt70">营业额：<span class="font16 corosered">100万</span></p>
                    </li>
                    <li>
                        <p class="font14 corgray9">在陈村花卉世界<br />建场，业务仍以<br />出口日本为主</p>
                        <p class="font14 corgray9 lh30 pt70">营业额：<span class="font16 corosered">100万</span></p>
                    </li>
                    <li>
                        <p class="font14 corgray9">启动国内市场，<br />组建企业团队</p>
                        <p class="font14 corgray9 lh30 pt70">营业额：<span class="font16 corosered">800万</span></p>
                    </li>
                    <li>
                        <p class="font14 corgray9">国内市场成为核<br />心业务</p>
                        <p class="font14 corgray9 lh30 pt70">营业额：<span class="font16 corosered">3300万</span></p>
                    </li>
                    <li>
                        <p class="font14 corgray9">国内市场继续发<br />展，启动保浮科<br />乐绿化墙业务</p>
                        <p class="font14 corgray9 lh30 pt70">营业额：<span class="font16 corosered">5500万</span></p>
                    </li>
                    <li>
                        <p class="font14 corgray9">继续以小盆栽销<br />售为主，持续拓<br />展保浮科乐绿化<br />墙市场</p>
                        <p class="font14 corgray9 lh30 pt70">营业额：<span class="font16 corosered">6800万</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     <!-- 企业概况部分完成 -->

  
    <div class="main trends pub wrap">
        <div class="main_title">
            <h2 style="width:136px">吉宏企业动态</h2>
        </div>
        <div class="main_con">
            <div class="main_con_bd mb30 clearfix">
                <div class="pic fl">
                    <img src="images/questpic01_03.jpg" height="150" width="200" alt="" />
                </div>
                <div class="txt fr">
                    <h3>交易平台</h3>
                    <p class="content">尊敬的吉宏会员： 您们好！吉宏定时更新的各类鲜活植物，只为丰富平台，满足各位会员的选择 ，超多选择，品种丰富， 量大 质优，欢迎各位会员前来选购！！！ 5月19日 广州吉宏园艺有限公...</p>
                    <p class="data">2016-06-13</p>
                </div>
            </div>
            <a>
                <div class="main_con_bd mb30 clearfix">
                    <div class="pic fl">
                        <img src="images/questpic01_03.jpg" height="150" width="200" alt="" />
                    </div>
                    <div class="txt fr">
                        <h3>交易平台</h3>
                        <p class="content">尊敬的吉宏会员： 您们好！吉宏定时更新的各类鲜活植物，只为丰富平台，满足各位会员的选择 ，超多选择，品种丰富， 量大 质优，欢迎各位会员前来选购！！！ 5月19日 广州吉宏园艺有限公...</p>
                        <p class="data">2016-06-13</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="main_con_bd mb30 clearfix">
                    <div class="pic fl">
                        <img src="images/questpic01_03.jpg" height="150" width="200" alt="" />
                    </div>
                    <div class="txt fr">
                        <h3>交易平台</h3>
                        <p class="content">尊敬的吉宏会员： 您们好！吉宏定时更新的各类鲜活植物，只为丰富平台，满足各位会员的选择 ，超多选择，品种丰富， 量大 质优，欢迎各位会员前来选购！！！ 5月19日 广州吉宏园艺有限公...</p>
                        <p class="data">2016-06-13</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="main_con_bd mb30 clearfix">
                    <div class="pic fl">
                        <img src="images/questpic01_03.jpg" height="150" width="200" alt="" />
                    </div>
                    <div class="txt fr">
                        <h3>交易平台</h3>
                        <p class="content">尊敬的吉宏会员： 您们好！吉宏定时更新的各类鲜活植物，只为丰富平台，满足各位会员的选择 ，超多选择，品种丰富， 量大 质优，欢迎各位会员前来选购！！！ 5月19日 广州吉宏园艺有限公...</p>
                        <p class="data">2016-06-13</p>
                    </div>
                </div>
            </a>
            <div class="page wrap">
                <div class="fl pre">上一页</div>
                <ul class="fl">
                    <li class="current">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li class="more">...</li>
                    <li>200</li>
                </ul>
                <div class="fl next">下一页</div>
            </div>
        </div>
    </div>
     <!-- 企业动态部分完成 -->
 
    <div class="team pub wrap">
        <ul class="team_title">
            <li class="current">决策管理层</li>
            <li>商品部</li>
            <li>销售部</li>
            <li>其他</li>
        </ul>
        <div class="team_list">
            <ul>
                <li>
                    <img src="images/teamlist_03.jpg" height="220" width="220" alt="" />
                    <div class="team_txt">
                        <p class="name">老王</p>
                        <p class="post">总经理</p>
                        <p class="words">初心不忘，方得始终</p>
                    </div>
                </li>
                <li>
                    <img src="images/teamlist_03.jpg" height="220" width="220" alt="" />
                    <div class="team_txt">
                        <p class="name">老王</p>
                        <p class="post">总经理</p>
                        <p class="words">初心不忘，方得始终</p>
                    </div>
                </li>
                <li>
                    <img src="images/teamlist_03.jpg" height="220" width="220" alt="" />
                    <div class="team_txt">
                        <p class="name">老王</p>
                        <p class="post">总经理</p>
                        <p class="words">初心不忘，方得始终</p>
                    </div>
                </li>
                <li>
                    <img src="images/teamlist_03.jpg" height="220" width="220" alt="" />
                    <div class="team_txt">
                        <p class="name">老王</p>
                        <p class="post">总经理</p>
                        <p class="words">初心不忘，方得始终</p>
                    </div>
                </li>
            </ul>    
        </div>
    </div>
 <!-- 吉宏团队部分完成 -->

    <div class="advertise pub pub_current wrap">
        <div class="main_title">
            <h2>加入我们</h2>
        </div>
        <div class="clearfix">
            <div class="advertise-l fl">
                <ul>
                    <li class="current">销售业务员</li>
                    <li>投诉专员</li>
                    <li>生产场厂长</li>
                    <li>业务跟单员</li>
                </ul>
            </div>
            
            <div class="advertise-r fl">
                <div class="time clearfix">
                    <p class="counterman">销售业务员</p>
                    <p class="datas">发布时间：2016-06-14</p>
                    <p class="fl lh41 pt12 font14 corgray6 mr48">最低学历：大专以上</p>
                    <p class="fl lh41 pt12 font14 corgray6 mr48">工作年限：3-5年</p>
                    <p class="fl lh41 pt12 font14 corgray6 mr48">工作地点：广州市荔湾区</p>
                </div>
                <div class="adver_con">
                    <p class="request corgray3 font16 fontb">职位要求</p>
                    <ul>
                        <li class="font14 corgray6">1. 性别不限、年龄满22周岁；</li>
                        <li class="font14 corgray6">2. 学历要求：大专以上，园林园艺专业优先考虑；</li>
                        <li class="font14 corgray6">3. 积极上进、优秀的沟通能力、学习能力强、具备良好的压力承受力。</li>
                    </ul>
                    <p class="request corgray3 font16 fontb">岗位待遇</p>
                    <ul>
                        <li class="font14 corgray6">1. 基本工资+各项补贴+业务提成；</li>
                        <li class="font14 corgray6">2. 享受《劳动法》规定的各项法定保障</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sen_email">
            <p class="font18 corgray6">如果你热爱园艺，熟悉园艺，那么你就是我们需要的人。请在下面找到你认为最适合你的岗位，</p>
            <p class="font18 corgray6">并将你的简历发送到邮箱：<a class="emailadr font18" href="">xulf@ji-hong.cn</a></p>
            <p class="font18 corgray6">让我们一起共创辉煌！</p>
        </div>
    </div>
    <!-- 招聘信息部分完成 -->

    <div class="main question pub wrap">
        <div class="main_title">
            <h2 class="on">常见问题</h2>
        </div>
        <div class="main_con">
            <div class="main_con_bd mb30 clearfix">
                <div class="pic fl">
                    <img src="images/questpic01_03.jpg" height="150" width="200" alt="" />
                </div>
                <div class="txt fr">
                    <h3>交易平台</h3>
                    <p class="content">尊敬的吉宏会员： 您们好！吉宏定时更新的各类鲜活植物，只为丰富平台，满足各位会员的选择 ，超多选择，品种丰富， 量大 质优，欢迎各位会员前来选购！！！ 5月19日 广州吉宏园艺有限公...</p>
                    <p class="data">2016-06-13</p>
                </div>
            </div>

            <div class="main_con_bd mb30 clearfix">
                <div class="pic fl">
                    <img src="images/questpic01_03.jpg" height="150" width="200" alt="" />
                </div>
                <div class="txt fr">
                    <h3>交易平台</h3>
                    <p class="content">尊敬的吉宏会员： 您们好！吉宏定时更新的各类鲜活植物，只为丰富平台，满足各位会员的选择 ，超多选择，品种丰富， 量大 质优，欢迎各位会员前来选购！！！ 5月19日 广州吉宏园艺有限公...</p>
                    <p class="data">2016-06-13</p>
                </div>
            </div>

            <div class="main_con_bd mb30 clearfix">
                <div class="pic fl">
                    <img src="images/questpic01_03.jpg" height="150" width="200" alt="" />
                </div>
                <div class="txt fr">
                    <h3>交易平台</h3>
                    <p class="content">尊敬的吉宏会员： 您们好！吉宏定时更新的各类鲜活植物，只为丰富平台，满足各位会员的选择 ，超多选择，品种丰富， 量大 质优，欢迎各位会员前来选购！！！ 5月19日 广州吉宏园艺有限公...</p>
                    <p class="data">2016-06-13</p>
                </div>
            </div>

            <div class="main_con_bd mb30 clearfix">
                <div class="pic fl">
                    <img src="images/questpic01_03.jpg" height="150" width="200" alt="" />
                </div>
                <div class="txt fr">
                    <h3>交易平台</h3>
                    <p class="content">尊敬的吉宏会员： 您们好！吉宏定时更新的各类鲜活植物，只为丰富平台，满足各位会员的选择 ，超多选择，品种丰富， 量大 质优，欢迎各位会员前来选购！！！ 5月19日 广州吉宏园艺有限公...</p>
                    <p class="data">2016-06-13</p>
                </div>
            </div>
            <div class="page wrap">
                <div class="fl pre">上一页</div>
                <ul class="fl">
                    <li class="current">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li class="more">...</li>
                    <li>200</li>
                </ul>
                <div class="fl next">下一页</div>
            </div>
        </div>
    </div>

    <!-- 常见问题部分完成 -->

    <!-- 页面footer部分 -->
    <div class="footer bfcorosered">
        <div class="footercon wrap">
            <dl class="fl mr30">
               <dt><a href="">关于吉宏</a></dt>
               <dd><a href="">企业概况</a></dd>
               <dd><a href="">企业动态</a></dd>
               <dd><a href="">吉宏团队</a></dd>
               <dd><a href="">招聘信息</a></dd>
               <dd><a href="">常见问题</a></dd>
            </dl>  
            <dl class="fl mr29">
               <dt><a href="">吉宏梦</a></dt>
            </dl> 
            <dl class="fl mr29">
               <dt><a href="">盆栽交易平台</a></dt>
            </dl>
            <dl class="fl mr29">
               <dt><a href="">吉宏发财树</a></dt>
            </dl>
            <dl class="fl mr30">
               <dt class="font16">联系我们</dt>
               <dd class="corgrayf">客服热线：020-81522108</dd>
               <dd class="corgrayf">传真：020-81413138</dd>
               <dd class="corgrayf">E-mail：info@ji-hong.cn</dd>
               <dd class="corgrayf">地址：广州市荔湾区龙溪大道花卉科技</dd>
               <dd class="corgrayf">园艺西街18号（510375）</dd>
            </dl>
            <dl class="fl mr38">
               <dt class="center font16">APP下载</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
            <dl class="fr">
               <dt class="center font16">联系我们</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
        </div>  
   </div>

</body>
</html>