<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>吉宏园艺</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/dream.css">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="header_bd wrap">
            <p class="contact">联系我们：400-650-750</p>
            <div class="login">
                <ul>
                    <li><a href="">登陆</a></li>
                    <li class="fist_line">|</li>
                    <li><a href="">English</a></li>
                    <li class="sec_line">|</li>
                    <li><a href="">日本语</a></li>
                </ul>
            </div>
        
        </div>
    </div>

    <div class="header_bot">
        <div class="wrap">
            <div class="header_bot_l"></div>
            <div class="header_bot_r">
                <ul class="nav">
                    <li><a href="">首页</a></li>
                    <li><a href="">关于吉宏</a></li>
                    <li><a class="current" href="">吉宏梦</a></li>
                    <li><a href="">盆栽交易平台</a></li>
                    <li><a href="">吉宏发财树</a></li>
                    <li><a href="">行业信息</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner">
        <img src="" alt="" />
    </div>
    <div class="con_worth wrap clearfix">
        <div class="fl pic_l"><img src="images/zdou_03.gif" height="28" width="28" alt="" /></div>
        <div class="fl txt">
            <p class="font20 corgray3 fontb">核心价值观：共赢、高效、真诚、以人为本</p>
            <p class="font20 corgray3 fontb">企业使命：构建最具影响力的中国花卉交易平台，不断推动中国花卉行业的健康发展。</p>
        </div>
        <div class="fl pic_r"><img src="images/ydou.gif" height="28" width="28" alt="" /></div>
    </div>
    <div class="intr_dream wrap">
        <p class="font20 corgreen">企业目标：实现“吉宏梦”</p>
        <p class="font16 corgray6">让我们共同建设一个公众型企业！目标明确，充满动力！</p>
        <p class="font16 corgray6">让我们每个吉宏人成为经营的参与者和受益者！不断提升我们的生活质量！</p>
        <p class="font16 corgray6">让我们共同营造一个培养管理人才的职场环境！成长和欢乐伴随在我们工作，生活之中！</p>
        <p class="font16 corgray6">让我们建设一个对社会有贡献的花卉交易平台！</p>
        <p class="font16 corgray6">让“吉宏”成为被行业，被社会所尊重的企业！</p>
    </div>
    <div class="picshow wrap">
        <ul class="clearfix">
            <li><img src="images/dreampic01.jpg" height="360" width="480" alt="" /></li>
            <li><img src="images/dreampic01.jpg" height="360" width="480" alt="" /></li>
            <li><img src="images/dreampic01.jpg" height="360" width="480" alt="" /></li>
            <li><img src="images/dreampic01.jpg" height="360" width="480" alt="" /></li>
        </ul>
    </div>
    <div class="footer bfcorosered mt20">
        <div class="footercon wrap">
            <dl class="fl mr30">
               <dt><a href="">关于吉宏</a></dt>
               <dd><a href="">企业概况</a></dd>
               <dd><a href="">企业动态</a></dd>
               <dd><a href="">吉宏团队</a></dd>
               <dd><a href="">招聘信息</a></dd>
               <dd><a href="">常见问题</a></dd>
            </dl>  
            <dl class="fl mr29">
               <dt><a href="">吉宏梦</a></dt>
            </dl> 
            <dl class="fl mr29">
               <dt><a href="">盆栽交易平台</a></dt>
            </dl>
            <dl class="fl mr29">
               <dt><a href="">吉宏发财树</a></dt>
            </dl>
            <dl class="fl mr30">
               <dt class="font16">联系我们</dt>
               <dd class="corgrayf">客服热线：020-81522108</dd>
               <dd class="corgrayf">传真：020-81413138</dd>
               <dd class="corgrayf">E-mail：info@ji-hong.cn</dd>
               <dd class="corgrayf">地址：广州市荔湾区龙溪大道花卉科技</dd>
               <dd class="corgrayf">园艺西街18号（510375）</dd>
            </dl>
            <dl class="fl mr38">
               <dt class="center font16">APP下载</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
            <dl class="fr">
               <dt class="center font16">联系我们</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
        </div>  
   </div>

</body>
</html>