<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>吉宏园艺</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/information.css">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="header_bd wrap">
            <p class="contact">联系我们：400-650-750</p>
            <div class="login">
                <ul>
                    <li><a href="">登陆</a></li>
                    <li class="fist_line">|</li>
                    <li><a href="">English</a></li>
                    <li class="sec_line">|</li>
                    <li><a href="">日本语</a></li>
                </ul>
            </div>
        
        </div>
    </div>

    <div class="header_bot">
        <div class="wrap">
            <div class="header_bot_l"></div>
            <div class="header_bot_r">
                <ul class="nav">
                    <li><a href="">首页</a></li>
                    <li><a href="">关于吉宏</a></li>
                    <li><a href="">吉宏梦</a></li>
                    <li><a href="">盆栽交易平台</a></li>
                    <li><a href="">吉宏发财树</a></li>
                    <li><a class="current" href="">行业信息</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="producer_banner">
        
    </div>
    <div class="producer_main wrap">
        <div class="producer_main_tittle">
            <h2 class="font22">合作生产商</h2>
        </div>
        <div class="pro_content">
            <ul>
                <li class="pro_content_list clearfix mb30">
                    <a href="">
                        <div class="pic fl">
                            <img src="images/producer01.jpg" height="150" width="200" alt="" />
                        </div>
                        <div class="txt fr">
                            <h3>广州思源园艺有限公司</h3>
                            <p>公司成立于2012年7月1日，主要从事花卉小盆栽生产。现有温室生产面积约40000平方米，其中水帘温室有28000平方米，连体温室有12000平方米。长期主要生产红掌、竹芋等近10个主打品种，年产能达到140万盆。</p>
                        </div>
                    </a>
                </li>
                <li class="pro_content_list clearfix mb30">
                    <a href="">
                        <div class="pic fl">
                            <img src="images/producer01.jpg" height="150" width="200" alt="" />
                        </div>
                        <div class="txt fr">
                            <h3>广州思源园艺有限公司</h3>
                            <p>公司成立于2012年7月1日，主要从事花卉小盆栽生产。现有温室生产面积约40000平方米，其中水帘温室有28000平方米，连体温室有12000平方米。长期主要生产红掌、竹芋等近10个主打品种，年产能达到140万盆。</p>
                        </div>
                    </a>
                </li>
                <li class="pro_content_list clearfix mb30">
                    <a href="">
                        <div class="pic fl">
                            <img src="images/producer01.jpg" height="150" width="200" alt="" />
                        </div>
                        <div class="txt fr">
                            <h3>广州思源园艺有限公司</h3>
                            <p>公司成立于2012年7月1日，主要从事花卉小盆栽生产。现有温室生产面积约40000平方米，其中水帘温室有28000平方米，连体温室有12000平方米。长期主要生产红掌、竹芋等近10个主打品种，年产能达到140万盆。</p>
                        </div>
                    </a>
                </li>
                <li class="pro_content_list clearfix mb30">
                    <a href="">
                        <div class="pic fl">
                            <img src="images/producer01.jpg" height="150" width="200" alt="" />
                        </div>
                        <div class="txt fr">
                            <h3>广州思源园艺有限公司</h3>
                            <p>公司成立于2012年7月1日，主要从事花卉小盆栽生产。现有温室生产面积约40000平方米，其中水帘温室有28000平方米，连体温室有12000平方米。长期主要生产红掌、竹芋等近10个主打品种，年产能达到140万盆。</p>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="page">
                <div class="fl pre">上一页</div>
                <ul class="fl">
                    <li class="current">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li class="more">...</li>
                    <li>200</li>
                </ul>
                <div class="fl next">下一页</div>
            </div>
        </div>
    </div>
    <div class="footer bfcorosered">
        <div class="footercon wrap">
            <dl class="fl mr30">
               <dt><a href="">关于吉宏</a></dt>
               <dd><a href="">企业概况</a></dd>
               <dd><a href="">企业动态</a></dd>
               <dd><a href="">吉宏团队</a></dd>
               <dd><a href="">招聘信息</a></dd>
               <dd><a href="">常见问题</a></dd>
            </dl>  
            <dl class="fl mr29">
               <dt><a href="">吉宏梦</a></dt>
            </dl> 
            <dl class="fl mr29">
               <dt><a href="">盆栽交易平台</a></dt>
            </dl>
            <dl class="fl mr29">
               <dt><a href="">吉宏发财树</a></dt>
            </dl>
            <dl class="fl mr30">
               <dt class="font16">联系我们</dt>
               <dd class="corgrayf">客服热线：020-81522108</dd>
               <dd class="corgrayf">传真：020-81413138</dd>
               <dd class="corgrayf">E-mail：info@ji-hong.cn</dd>
               <dd class="corgrayf">地址：广州市荔湾区龙溪大道花卉科技</dd>
               <dd class="corgrayf">园艺西街18号（510375）</dd>
            </dl>
            <dl class="fl mr38">
               <dt class="center font16">APP下载</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
            <dl class="fr">
               <dt class="center font16">联系我们</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
        </div>  
   </div>
</body>
</html>