<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>吉宏园艺</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/information.css">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.jqzoom.js"></script>
<script type="text/javascript" src="js/base.js"></script>

</head>
<body>
    <div class="header">
        <div class="header_bd wrap">
            <p class="contact">联系我们：400-650-750</p>
            <div class="login">
                <ul>
                    <li><a href="">登陆</a></li>
                    <li class="fist_line">|</li>
                    <li><a href="">English</a></li>
                    <li class="sec_line">|</li>
                    <li><a href="">日本语</a></li>
                </ul>
            </div>
        
        </div>
    </div>
    <div class="header_bot">
        <div class="wrap clearfix">
            <div class="header_bot_l"></div>
            <div class="header_bot_r">
                <ul class="nav">
                    <li><a href="">首页</a></li>
                    <li><a href="">关于吉宏</a></li>
                    <li><a href="">吉宏梦</a></li>
                    <li><a href="">盆栽交易平台</a></li>
                    <li><a href="">吉宏发财树</a></li>
                    <li><a class="current" href="">行业信息</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sup_crumbs">
        <div class="wrap sup_crumbs_con">
          <a class="font16 corgray6">供应信息</a>
          <i class="font16 corgray6">></i>
          <a class="font16 corgray6">发财树</a>
          <i class="font16 corgray6">></i>
          <a class="font16 corgray6">芦荟</a>
        </div>
    </div>
    <div class="wrap">
        <div class="clearfix mt25 pr">

            <div class="detail_img fl pr">
                <div id="preview" class="spec-preview"> 
                      <span class="jqzoom"><img jqimg="images/111.png" src="images/111.png" height="330" /></span>
                </div>
                <div class="spec-scroll">
                    <a class="prev"><img src="images/left.png" height="65" width="13" alt="" /></a>
                    <a class="next"><img src="images/right.png" height="65" width="13" alt="" /></a>
                    <div class="items">
                        <ul>
                            <li><img alt="吉宏" bimg="images/111.png" src="images/111.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/222.png" src="images/222.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/111.png" src="images/111.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/222.png" src="images/222.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/111.png" src="images/111.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/222.png" src="images/222.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/111.png" src="images/111.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/222.png" src="images/222.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/111.png" src="images/111.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/222.png" src="images/222.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/111.png" src="images/111.png" height="330" onmousemove="preview(this);"></li>
                            <li><img alt="吉宏" bimg="images/222.png" src="images/222.png" height="330" onmousemove="preview(this);"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="detail_text fr">
              <h2 class="goods_name">吉宏发财树</h2>
              <div class="classify">分类：发财树>吉宏特色</div>
              <div class="text">
                <p class="font14">发财树在园林绿化中可以作为庭荫树应用，用来遮阴。早期的园林绿化中，常常把发财树孤植或对植，建造出凉爽的、舒适的园林环境，遮蔽炎炎烈日。后来发财树被用在了园林绿地上，在一些风景名胜区也多有种植。发财树是常青高大乔木，可以长出10m的树干，树冠幅度大，形成很大的绿荫，可以遮蔽烈日，调节气温，带来良好的、舒适度高的休息环境以及娱乐场所。发财树的叶片平展，没有不良气味，没有毒害作用，也很少有虫害现象，生长繁殖力强，可以适应不同的生态环境，发财树的树形也有很高的观赏价值，它的这些特性决定了它可以被园林绿化工作者广泛应用。作为庭荫树具体应用时，可以根据园林实际场地面积的大小，以及周围建筑物的高度来决定对植，孤植或者丛植发财树。</p>
              </div>
            </div>

        </div>
    </div>



    <div class="footer bfcorosered mt165">
        <div class="footercon wrap">
            <dl class="fl mr30">
               <dt><a href="">关于吉宏</a></dt>
               <dd><a href="">企业概况</a></dd>
               <dd><a href="">企业动态</a></dd>
               <dd><a href="">吉宏团队</a></dd>
               <dd><a href="">招聘信息</a></dd>
               <dd><a href="">常见问题</a></dd>
            </dl>  
            <dl class="fl mr29">
               <dt><a href="">吉宏梦</a></dt>
            </dl> 
            <dl class="fl mr29">
               <dt><a href="">盆栽交易平台</a></dt>
            </dl>
            <dl class="fl mr29">
               <dt><a href="">吉宏发财树</a></dt>
            </dl>
            <dl class="fl mr30">
               <dt class="font16">联系我们</dt>
               <dd class="corgrayf">客服热线：020-81522108</dd>
               <dd class="corgrayf">传真：020-81413138</dd>
               <dd class="corgrayf">E-mail：info@ji-hong.cn</dd>
               <dd class="corgrayf">地址：广州市荔湾区龙溪大道花卉科技</dd>
               <dd class="corgrayf">园艺西街18号（510375）</dd>
            </dl>
            <dl class="fl mr38">
               <dt class="center font16">APP下载</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
            <dl class="fr">
               <dt class="center font16">联系我们</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
        </div>  
    </div>
</body>
</html>