<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>吉宏园艺</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/sylogin.css">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
    $(function(){
         
        $('.login_box h2').click(function(event) {
            $(this).addClass('current').siblings('').removeClass('current');
            $('.pub').eq($(this).index()).addClass('current').siblings('').removeClass('current');
        });


       
    })
</script>
</head>
<body>
    <div class="head wrap">
        <div class="sylogo fl"></div>
        <p class="trading_tittle fl font20 corgray6 fontb">全方位中国花卉交易平台</p>
    </div>
    <div class="main">
        <div class="wrap dw">
            <div class="login_box">
                <div class="clearfix login_box_tittle mb30">
                    <h2 class="current border_r">经销商</h2>  
                    <h2>供应商</h2> 
                </div>
                <div class="form pub current">
                    
                    <div class="txt1">
                        <input class="account" type="text" placeholder="请输入账号" />
                        <i>&#xe714;</i>
                    </div>
                    <div class="txt2">
                        <input class="password" type="text" placeholder="请输入密码" />
                        <i>&#xe644;</i>
                    </div>
                    <div class="test clearfix">
                        <input class="fl" type="text" placeholder="请输入验证码" />
                        <div class="testpic fr">
                            <img src="images/login_textpic_03.jpg" height="38" width="78" alt="" />
                        </div>
                    </div>
                    <input class="login_btn font18 corgrayf" type="button" value="登 录" />
                    <p class="help_txt">
                        <span class="fl"><a class=" corgray3" href="">忘记密码？</a></span>
                        <span class="fr"><a class="corblue" href="">注册账号>></a></span>
                    </p>
                </div>
                <div class="form pub">
                    
                    <div class="txt1">
                        <input class="account" type="text" placeholder="请输入账号" />
                        <i>&#xe714;</i>
                    </div>
                    <div class="txt2">
                        <input class="password" type="text" placeholder="请输入密码" />
                        <i>&#xe644;</i>
                    </div>
                    <div class="test clearfix">
                        <input class="fl" type="text" placeholder="请输入验证码" />
                        <div class="testpic fr">
                            <img src="images/login_textpic_03.jpg" height="38" width="78" alt="" />
                        </div>
                    </div>
                    <input class="login_btn font18 corgrayf" type="button" value="登 录" />
                    <p class="help_txt">
                        <span class="fl"><a class=" corgray3" href="">忘记密码？</a></span>
                        <span class="fr"><a class="corblue" href="">注册账号>></a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>