<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>吉宏园艺</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/tradingPlatform.css">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="header_bd wrap">
            <p class="contact">联系我们：400-650-750</p>
            <div class="login">
                <ul>
                    <li><a href="">登陆</a></li>
                    <li class="fist_line">|</li>
                    <li><a href="">English</a></li>
                    <li class="sec_line">|</li>
                    <li><a href="">日本语</a></li>
                </ul>
            </div>
        
        </div>
    </div>

    <div class="header_bot">
        <div class="wrap">
            <div class="header_bot_l"></div>
            <div class="header_bot_r">
                <ul class="nav">
                    <li><a href="">首页</a></li>
                    <li><a href="">关于吉宏</a></li>
                    <li><a href="">吉宏梦</a></li>
                    <li><a class="current" href="">盆栽交易平台</a></li>
                    <li><a href="">吉宏发财树</a></li>
                    <li><a href="">行业信息</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="tra-btn clearfix">
            <div class="platform fl">
                进入交易平台
            </div>
            <div class="download fr">下载app</div>
        </div>

    </div>
    <div class="main wrap">
        <div class="Platform_intro">
            <div class="Platintr_title">
                <h2>花卉交易平台介绍</h2>
            </div>
            <div class="content clearfix">
                <div class="txt fl">
                    <p class="font14 corgray6">从2009年起，吉宏园艺立足广东绿直小盆栽的资源优势，致力于打造为上下游客户提供服务的全方位小盆栽交易平台。五年以来，创造了一个又一个交易额奇迹。</p><br />
                    <p class="font14 corgray6">对于外人来看，吉宏园艺只是一个电商企业，官网所表现的是一个普通花卉公司，而线下实体是一年到头忙忙碌碌的工人，以及频繁进出的车辆，事实上，吉宏园艺是一家由销售带动生产、通过不断深化服务上游生产商和下游经销商，从而盈利并不断推动行业发展的企业，今天，“吉宏模式”在花卉行业中获得了高度关注及认可，甚至成为了被仿效的对象，已然发展成为“行业交易模型”。</p>
                </div>
                <div class="pic fl">
                    <img src="images/Platintro_03.jpg" height="160" width="160" alt="" />
                </div>
            </div>
        </div>
        <div class="promise">
            <div class="Platintr_title">
                <h2>我们承诺</h2>
            </div>
            <div class="promise_con clearfix">
                <div class="promise_con_l fl">
                    <div class="btn font20 corgrayf">供应商</div>
                    <ul class="mt30">
                        <li class="font16 corgray6">以他们的定价为销售价格 ①</li>
                        <li class="font16 corgray6">按期结算货款 ②</li>
                        <li class="font16 corgray6">及时反馈市场供求信息 ③</li>
                        <li class="font16 corgray6">全面提供销售支持 ④</li>
                        <li class="font16 corgray6">积极协助品牌的建立和推广 ⑤</li>
                        <li class="font16 corgray6">免费提供技术支持和生成咨询 ⑥</li>
                    </ul>
                </div>
                <div class="promise_con_m fl"></div>
                <div class="promise_con_r fl">
                    <div class="btn font20 corgrayf">经销商</div>
                    <ul class="mt30">
                        <li class="font16 corgray6">① 以供应商的定价为销售价格</li>
                        <li class="font16 corgray6">② 提供周到的售前、售中和售后服务</li>
                        <li class="font16 corgray6">③ 供应品种多样、符合市场质量要求的产品</li>
                        <li class="font16 corgray6">④ 提供生产者的供货信息</li>
                        <li class="font16 corgray6">⑤ 提供完善的现场销售服务</li>
                        <li class="font16 corgray6">⑥ 及时处理各类投诉并反馈处理结果</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="difference">
            <div class="Platintr_title">
                <h2>与传统平台的区别</h2>
            </div>
            <div class="difference_con">
                <div class="tit clearfix">
                    <p class="fl jh font24 corgray6">吉宏园艺</p>
                    <div class="fl line">
                        <div class="pic"></div>
                    </div>
                    <p class="fl convention font24 corgray6">传统平台</p>
                </div>
                <div class="differ_list clearfix">
                    <div class="differ_list_jh fl">
                        <ul>
                            <li class="font18 corgrayf">差价</li>
                            <li class="font18 corgrayf">生产者价格+销售者收益</li>
                            <li class="font18 corgrayf">进、销、存</li>
                            <li class="font18 corgrayf">议价</li>
                        </ul>
                    </div>
                    <div class="differ_list_title fl">
                        <ul>
                            
                            <li>
                                <div>
                                    <p class="font16 corgrayf">收益</p>
                                    <p class="font16 corgrayf">对比</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p class="font16 corgrayf">商品</p>
                                    <p class="font16 corgrayf">定价</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p class="font16 corgrayf">货源</p>
                                    <p class="font16 corgrayf">组织</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p class="font16 corgrayf">销售</p>
                                    <p class="font16 corgrayf">方法</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="differ_list_ct fl">
                        <ul>
                            <li class="font18 corgray6">服务费（交易额返点）</li>
                            <li class="font18 corgray6">生产者定价</li>
                            <li class="font18 corgray6">进、销、存</li>
                            <li class="font18 corgray6">不议价</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer bfcorosered">
        <div class="footercon wrap">
            <dl class="fl mr30">
               <dt><a href="">关于吉宏</a></dt>
               <dd><a href="">企业概况</a></dd>
               <dd><a href="">企业动态</a></dd>
               <dd><a href="">吉宏团队</a></dd>
               <dd><a href="">招聘信息</a></dd>
               <dd><a href="">常见问题</a></dd>
            </dl>  
            <dl class="fl mr29">
               <dt><a href="">吉宏梦</a></dt>
            </dl> 
            <dl class="fl mr29">
               <dt><a href="">盆栽交易平台</a></dt>
            </dl>
            <dl class="fl mr29">
               <dt><a href="">吉宏发财树</a></dt>
            </dl>
            <dl class="fl mr30">
               <dt class="font16">联系我们</dt>
               <dd class="corgrayf">客服热线：020-81522108</dd>
               <dd class="corgrayf">传真：020-81413138</dd>
               <dd class="corgrayf">E-mail：info@ji-hong.cn</dd>
               <dd class="corgrayf">地址：广州市荔湾区龙溪大道花卉科技</dd>
               <dd class="corgrayf">园艺西街18号（510375）</dd>
            </dl>
            <dl class="fl mr38">
               <dt class="center font16">APP下载</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
            <dl class="fr">
               <dt class="center font16">联系我们</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
        </div>  
   </div>
</body>
</html>