<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>吉宏园艺</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/tree.css">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="header_bd wrap">
            <p class="contact">联系我们：400-650-750</p>
            <div class="login">
                <ul>
                    <li><a href="">登陆</a></li>
                    <li class="fist_line">|</li>
                    <li><a href="">English</a></li>
                    <li class="sec_line">|</li>
                    <li><a href="">日本语</a></li>
                </ul>
            </div>
        
        </div>
    </div>

    <div class="header_bot">
        <div class="wrap">
            <div class="header_bot_l"></div>
            <div class="header_bot_r">
                <ul class="nav">
                    <li><a href="">首页</a></li>
                    <li><a href="">关于吉宏</a></li>
                    <li><a href="">吉宏梦</a></li>
                    <li><a href="">盆栽交易平台</a></li>
                    <li><a class="current" href="">吉宏发财树</a></li>
                    <li><a href="">行业信息</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner"></div>
    <div class="main wrap">
        <div class="concept">
            <div class="tittle">
                <h2>吉宏发财树品牌概念</h2>
            </div>
            <div class="concept_txt">
                <p class="font14 corgray6">吉宏发财树品牌战略，是围绕着以发财树为中心，包括绿森林、小森林的发财树衍生产品的企业子品牌战略。</p>
                <p class="font14 corgray6">吉宏发财树通过2013、2014年的不懈努力，已经赢下头阵！在业界，吉宏发财树已经有了良好的口碑！</p>
                <p class="font14 corgray6">吉宏园艺以“建立战略合作伙伴“的方式，把从”种子供应“到”种苗种植“再到”二次种植生产“最后到“销售”各个环节整合、链接在一起，形成了完整的“</p>
                <p class="font14 corgray6">产业供应链”。目前，“吉宏发财树”的战略合作伙伴已经包括了专业的种子供应商、种苗生产商以及二次加工种植的贴牌生产商。</p>
                <p class="font14 corgray6">吉宏园艺通过系统的品牌建设，整合了行业资源，加强产品的市场竞争优势，提高产品的附加价值，提升了供应链中各企业的抗风险能力！为花卉行业向规模化、</p>
                <p class="font14 corgray6">专业化发展提供了一个实实在在的成功案例。</p>
            </div>
        </div>
        <div class="system">
                <div class="tittle">
                    <h2>吉宏发财树体系</h2>
                </div>
        </div>
        <div class="crop">
            <div class="tittle">
                    <h2>种植基地</h2>
            </div>
            <ul class="clearfix mt30">
                <li class="fl">
                    <a href="">
                        <img src="images/treepic01_03.jpg" height="360" width="480" alt="" />
                        <div class="bj"></div>
                        <div class="opet font20 corgrayf">吉宏种植基地</div>
                        <p class="font14 corgray6">种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。</p>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="images/treepic01_03.jpg" height="360" width="480" alt="" />
                        <div class="bj"></div>
                        <div class="opet font20 corgrayf">吉宏种植基地</div>
                        <p class="font14 corgray6">种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。种植基地简介两行文字。</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer bfcorosered">
        <div class="footercon wrap">
            <dl class="fl mr30">
               <dt><a href="">关于吉宏</a></dt>
               <dd><a href="">企业概况</a></dd>
               <dd><a href="">企业动态</a></dd>
               <dd><a href="">吉宏团队</a></dd>
               <dd><a href="">招聘信息</a></dd>
               <dd><a href="">常见问题</a></dd>
            </dl>  
            <dl class="fl mr29">
               <dt><a href="">吉宏梦</a></dt>
            </dl> 
            <dl class="fl mr29">
               <dt><a href="">盆栽交易平台</a></dt>
            </dl>
            <dl class="fl mr29">
               <dt><a href="">吉宏发财树</a></dt>
            </dl>
            <dl class="fl mr30">
               <dt class="font16">联系我们</dt>
               <dd class="corgrayf">客服热线：020-81522108</dd>
               <dd class="corgrayf">传真：020-81413138</dd>
               <dd class="corgrayf">E-mail：info@ji-hong.cn</dd>
               <dd class="corgrayf">地址：广州市荔湾区龙溪大道花卉科技</dd>
               <dd class="corgrayf">园艺西街18号（510375）</dd>
            </dl>
            <dl class="fl mr38">
               <dt class="center font16">APP下载</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
            <dl class="fr">
               <dt class="center font16">联系我们</dt>
               <dd><img src="images/appxiazai.png" height="130" width="130" alt="" /></dd>
            </dl>
        </div>  
    </div>
</body>
</html>
<script type="text/javascript">
    var winH = $(window).height();
    var bodyH = $('body').height();

    if(bodyH<winH){
        $('.footer').addClass('fixed')
    }else{
        $('.footer').removeClass('fixed')
    }

</script>