/* 
* @Author: Marte
* @Date:   2016-06-27 13:30:01
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-27 12:32:21
*/
/*行业信息-合作生产商详情页面css*/
.border-b {
    border-bottom: 1px solid #c4234c;
}
.main {
    padding-top: 32px;
}
.main .article {
    width: 800px;
    margin:0 auto;
    margin-bottom: 35px;
}
.main .article h2 {
    line-height: 77px;
    text-align: center;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
.main .main_text p {
    line-height: 25px;
}
.main .main_text .pic {
    margin-top: 32px;

}
.mt77{
    margin-top: 77px;
}


/*行业信息-合作生产商页面css*/
.producer_main .producer_main_tittle,.supp_main .producer_main_tittle {
    height: 55px;
    background:url(../../images/line.jpg) no-repeat left bottom;
}
.producer_main,.supp_main {
    padding-top: 27px;
}
.producer_main .producer_main_tittle h2,.supp_main .producer_main_tittle h2{
    line-height: 51px;
    width: 92px;
    border-bottom: 4px solid #d04f70;
    color: #d04f70;
}
.producer_main .producer_main_tittle h2 {
    width: 114px;
}
.pro_content {
    padding-top: 26px;
}
.pro_content li {
    height: 150px;
}
.pro_content li .pic {
    width: 150px;
}
.pro_content li .txt {
    width: 770px;
    height: 149px;
    border-bottom: 1px dashed #ccc;
}
.pro_content_list .txt h3 {
    font-size: 18px;
    color:#333;
    line-height: 40px;
}
.pro_content_list .txt p {
    margin-top: 10px;
    line-height: 24px;
    font-size: 14px;
    color:#666;
    width:770px;
    height: 48px;
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.producer_main .page {
    height: 110px;
    margin-left: 309px;
    padding-top: 10px;
}
.producer_main .page .pre,.producer_main .page .next {
    width: 78px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    color:#333;
    font-size: 14px;
    cursor:pointer;
}
.producer_main .page ul {
    margin-right: 15px;
}
.producer_main .page ul li {
    float: left;
    margin-left: 15px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    color:#333;
    font-size: 14px;
    cursor:pointer;
}
.producer_main .page ul li.current {
    background:#c4234c;
    border-color:#c4234c ;
    color:#fff;
}


/*行业信息-供应商详情页面css*/
.sup_crumbs {
    height: 42px;
    line-height: 42px;
    background:#eee;
}
.sup_crumbs_con {
    padding-left: 10px;
}
.sup_crumbs_con a {
    cursor: pointer;
}



/*左侧图片内容*/
.detail_img {
    width: 330px;
    /*height: 392px;*/
}

/*图片放大镜样式*/
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:330px;height:330px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff ;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
/*图片小图预览列表*/
.spec-preview{width:330px;height:330px;}
.spec-scroll{clear:both;width:330px;height: 50px; padding-top: 12px;}
.spec-scroll .prev{float:left;margin-right: 4px;}
.spec-scroll .next{float:right;}
.spec-scroll .prev,.spec-scroll .next{display:block;width:13px;height:65px;cursor:pointer;text-decoration:none;}
.spec-scroll .items{float:left;position:relative;width:300px;height:56px;overflow:hidden; margin:8px 0;}
.spec-scroll .items ul{position:absolute;width:999999px;height:56px;}
.spec-scroll .items ul li{float:left;width:60px; height: 50px;/*margin-right: 8px;*/}
.spec-scroll .items ul li img{width:50px;height:50px;padding:0 5px;}
.spec-scroll .items ul li img:hover{border:1px solid #FF6600;padding:1px;}



/*右侧内容*/
.detail_text {
    width: 639px;
}
.detail_text .goods_name {
    margin-top: 20px;
    padding-bottom: 22px;
    font-size: 18px;
    color: #333;
    font-weight: normal;
}
.detail_text .price{
    color: #333;
    padding-bottom: 22px;
}
.detail_text .price span {
    color: #c4234c;
}
.detail_text .all_seller,
.detail_text .classify {
    color: #333;
    font-size: 14px;
    padding-bottom: 22px;
}
.detail_text .text {
    margin-right: 47px;
    padding-top: 13px;
    padding-bottom: 30px;
    line-height: 24px;
    color: #666;
}

/*行业信息-供应商页面css*/
.supp_banner {
    height: 400px;
    background:pink;
    overflow: hidden;
    text-align: center;
}
.supp_main .supp_main_nav {
    height: 40px;
    background:#eee;
    margin-top: 32px;
    line-height: 40px;
    padding-left: 4px;
    position: relative;
}
.supp_main .supp_main_nav a {
    cursor: pointer;
}
.supp_main_nav .search {
    height: 40px;
    line-height: 40px;
    width: 538px;
    background:#c4234c;
    position: absolute;
    right: 0;
    top: 0;
}
.supp_main_nav .search .search_box {
    width: 402px;
    height: 36px;
    line-height: 36px;
    background:#eee;
    padding-left: 14px;
    margin:2px 0 0 2px;
}
.supp_main_nav .search .search_txt {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background:#c4234c;
    cursor:pointer;
}
.classfiy {
    line-height: 46px;
    border-bottom: 1px solid #ccc;
}
.classfiy p {
    width: 70px;
}
.goos_list .classfiy ul {
    margin-left: 30px;
    height: 46px;
    width: 744px;
    overflow: hidden;
}
.goos_list .classfiy ul li {
    float: left;
    padding:0 22px;
}
.goos_list .classfiy ul li a {
    display:block;
    font-size: 14px;
    color:#333;
    text-align: center;
    cursor: pointer;
}
.goos_list .classfiy ul li a:hover {
    color:#C4234C;
}
.goos_list .classfiy .more {
    width: 75px;
    text-align: center;
    background:url(../../images/arrow_bottom_select.png) no-repeat 60px center;
    cursor:pointer;
}
.goos_list .goos_list_pic {
    padding-top: 30px;
}
.goos_list .goos_list_pic .goos_list_picl {
    width: 185px;
}
.goos_list_picl .tittle {
    height: 42px;
    line-height: 42px;
    text-align: center;
    background:#c4234c;
}
.goos_list_picl ul {
    border: 1px solid #ccc;
}
.goos_list_picl ul li {
    height: 227px;
    
    margin-top: -1px;
    text-align: center;
}
.goos_list_picl ul li img,.goos_list_picr ul li img {
    display:inline-block;
}
/*.goos_list_picr p {
    line-height: 52px;
    padding: 15px 12px 0 12px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}*/
 
.goos_list_picl ul li .docration {

}
.goos_list_picr ul li a {
    display:block;
}
.goos_list .goos_list_pic .goos_list_picr {
    width: 796px;
}
/*.goos_list_picr .piclist {
    margin-left: -15px;
}*/
.goos_list_picr .piclist li {
    text-align: center;
    float: left;
    width: 190px;
    height: 229px;
    padding:4px 4px 0 4px;
}
.goos_list_picr .piclist li p,.goos_list_picl ul li p {
    line-height: 36px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
    padding:0 10px;
}
.goos_list_picr ul li:hover {
    -webkit-box-shadow: 0 0 1px 1px #d5d5d5;
    -moz-box-shadow: 0 0 1px 1px #d5d5d5;
    box-shadow: 0 0 1px 1px #d5d5d5;
    border-color: #d5d5d5;
    -webkit-transition: border-color .9s ease;
    -moz-transition: border-color .9s ease;
    transition: border-color .9s ease;
}
.goos_list_picr .page {
    height: 95px;
    margin:25px 0 0 75px;
}
.goos_list_picr .page ul {
    margin-right: 15px;
}
.goos_list_picr .page ul li{
    float: left;
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    line-height: 28px;
    text-align: center;
    margin-left: 15px;
    cursor:pointer;
}
.goos_list_picr .page .pre,.goos_list_picr .page .next {
    width: 78px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    color:#333;
    font-size: 14px;
    cursor:pointer;
}
.goos_list_picr .page ul li.more {
    border:0 none;
}
.goos_list_picr .page ul li.current {
    background:#c4234c;
    border: 1px solid #c4234c;
    color: #fff;
}



























