<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="../js/jquery-1.7.2.min.js"></script>
    <script src="../js/jquery.SuperSlide.js"></script>
    <script src="../js/base.js"></script>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/content.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <header class="">
      <div class="wrap">
        <div class="logo">
          <a></a>
        </div>
        <div class="explain">全方位中国花卉交易平台</div>
        <div class="header_phone">联系电话：400-0650-750</div>
      </div>
      <div class="clear"></div>
      <div class="header_bottom">
        <div class="wrap">
          <div class="account">
            <span>账户：7729<a href="" class="quit">[退出]</a></span>
          </div>
          <nav>
            <a>首页</a>
            <a class="">资材订购</a>
            <a>市场反馈</a>
            <a>对账单</a>
            <a>会员中心</a>
            <a>最新热销</a>
          </nav>
        </div>
    </header>
    <section>
    <div class="wrap">
      <div class="goods_classify">
        <div class="classity_content">
          <span>商品分类：</span>
          <div class="select_out">
            <select>
              <option value="请选择商品分类">请选择商品分类</option>
              <option value="发财树">发财树</option>
              <option value="多肉">多肉</option>
              <option value="兰花">兰花</option>
            </select>
          </div>
          <div class="select_out">
            <select>
              <option value="请选择商品分类">请选择商品分类</option>
              <option value="仙人掌">仙人掌</option>
              <option value="翡翠">翡翠</option>
              <option value="芦荟">芦荟</option>
            </select>
          </div>
        </div>
      </div>
      <div class="hot_search fr">
        <div class="clearfix search_box pr">
          <div class="fl">
            <input type="text" class="search_input" placeholder="请输商品名称/订单号搜索" value="" onfocus=";">
          </div>
          <div class="fr"><input type="button" class="hot_search_btn " value="搜索" onclick="Search()"></div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <ul class="hot_list">
        <li class="hot_name">商品名称</li>
        <li class="hot_classify">商品分类</li>
        <li class="hot_unit">单位</li>
        <li class="hot_packnum">装箱数</li>
        <li class="hot_univalent">商品单价</li>
        <li class="hot_sellnum">商品销量</li>
        <li class="hot_operation">操作</li>
      </ul>
      <ul class="hot_content">
        <li>
          <div class="hot_name">竹芋-玉丽竹芋-玉丽竹芋-玉丽竹芋-玉丽竹芋-玉丽竹芋-玉丽 
          </div>
          <div class="hot_classify">发财树-小森林系列
          </div>
          <div class="hot_unit">盆
          </div>
          <div class="hot_packnum">30
          </div>
          <div class="hot_univalent">￥720.0
          </div>
          <div class="hot_sellnum">代付款
          </div>
          <div class="hot_operation">
            <a>查看</a>
          </div>
        </li>
        <li>
          <div class="hot_name">竹芋-玉丽竹芋-玉丽竹芋-玉丽竹芋-玉丽竹芋-玉丽竹芋-玉丽 
          </div>
          <div class="hot_classify">发财树-小森林系列
          </div>
          <div class="hot_unit">盆
          </div>
          <div class="hot_packnum">30
          </div>
          <div class="hot_univalent">￥720.0
          </div>
          <div class="hot_sellnum">代付款
          </div>
          <div class="hot_operation">
            <a>查看</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <div >你好吗？</div>
    </section>
  </body>
</html>