<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../js/jquery-1.7.2.min.js"></script>
    <script src="../js/jquery.SuperSlide.js"></script>
    <script src="../js/base.js"></script>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/content.css" />
    <link rel="stylesheet" href="../css/user.css" />
</head>
<body>
    <header class="">
      <div class="wrap">
        <div class="logo">
          <a></a>
        </div>
        <div class="explain">全方位中国花卉交易平台</div>
        <div class="header_phone">联系电话：400-0650-750</div>
      </div>
      <div class="clear"></div>
      <div class="header_bottom">
        <div class="wrap">
          <div class="account">
            <span>账户：7729<a href="" class="quit">[退出]</a></span>
          </div>
          <nav>
            <a>首页</a>
            <a class="">资材订购</a>
            <a>市场反馈</a>
            <a>对账单</a>
            <a>会员中心</a>
            <a>最新热销</a>
          </nav>
        </div>
      </div>
    </header>
    <section>
        <div class="pay_access">
            <div class="pay_prompt">
                <div class="pay_prompt_access">
                    订单支付成功，确认订单后将尽快给您发货。
                </div>
                <div class="order_num_money">
                    <span class="order_num">订单号：44757868436578</span>
                    <span class="order_money">已付金额： <i>720.0</i> 元</span>
                </div>
                <div class="youcan">您可以：<a>查看订单详情</a><a>继续购物</a><a class="QQ">联系业务员</a>
                </div>
            </div>
        </div>
        <div class="foryou">
            <h2>为您推荐</h2>
            <div class="groom_content">
                <ul>
                  <li>
                    <div class="goods_img">
                        <img src="../images/goods_img2.png">
                    </div>
                    <div class="goods_text">
                        <div class="goods_name">
                          多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉
                      </div>
                      <div class="price_num">
                          <span class="goods_price">￥7.90-9.0</span>
                          <span class="seller_num tr">销量：15315</span>
                      </div>
                  </li>
                  <li>
                    <div class="goods_img">
                        <img src="../images/goods_img2.png">
                    </div>
                    <div class="goods_text">
                        <div class="goods_name">
                          多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉
                      </div>
                      <div class="price_num">
                          <span class="goods_price">￥7.90-9.0</span>
                          <span class="seller_num tr">销量：15315</span>
                      </div>
                  </li>
                  <li>
                    <div class="goods_img">
                        <img src="../images/goods_img2.png">
                    </div>
                    <div class="goods_text">
                        <div class="goods_name">
                          多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉
                      </div>
                      <div class="price_num">
                          <span class="goods_price">￥7.90-9.0</span>
                          <span class="seller_num tr">销量：15315</span>
                      </div>
                  </li>
                  <li>
                    <div class="goods_img">
                        <img src="../images/goods_img2.png">
                    </div>
                    <div class="goods_text">
                        <div class="goods_name">
                          多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉
                      </div>
                      <div class="price_num">
                          <span class="goods_price">￥7.90-9.0</span>
                          <span class="seller_num tr">销量：15315</span>
                      </div>
                  </li>
                  <li>
                    <div class="goods_img">
                        <img src="../images/goods_img2.png">
                    </div>
                    <div class="goods_text">
                        <div class="goods_name">
                          多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉
                      </div>
                      <div class="price_num">
                          <span class="goods_price">￥7.90-9.0</span>
                          <span class="seller_num tr">销量：15315</span>
                      </div>
                  </li>
                  <li>
                    <div class="goods_img">
                        <img src="../images/goods_img2.png">
                    </div>
                    <div class="goods_text">
                        <div class="goods_name">
                          多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉
                      </div>
                      <div class="price_num">
                          <span class="goods_price">￥7.90-9.0</span>
                          <span class="seller_num tr">销量：15315</span>
                      </div>
                  </li>
                  <li>
                    <div class="goods_img">
                        <img src="../images/goods_img2.png">
                    </div>
                    <div class="goods_text">
                        <div class="goods_name">
                          多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉多肉
                      </div>
                      <div class="price_num">
                          <span class="goods_price">￥7.90-9.0</span>
                          <span class="seller_num tr">销量：15315</span>
                      </div>
                  </li>
                </ul>
          </div>
    </section>
</body>
</html>