<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="../js/jquery-1.7.2.min.js"></script>
    <script src="../js/jquery.SuperSlide.js"></script>
    <script src="../js/base.js"></script>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/content.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/user.css" />
  </head>
  <body>
    <header class="">
      <div class="wrap">
        <div class="logo">
          <a></a>
        </div>
        <div class="explain">全方位中国花卉交易平台</div>
        <div class="header_phone">联系电话：400-0650-750</div>
      </div>
      <div class="clear"></div>
      <div class="header_bottom">
        <div class="wrap">
          <div class="account">
            <span>账户：7729<a href="" class="quit">[退出]</a></span>
          </div>
          <nav>
            <a>首页</a>
            <a class="">资材订购</a>
            <a>市场反馈</a>
            <a>对账单</a>
            <a>会员中心</a>
            <a>最新热销</a>
          </nav>
        </div>
    </header>
    <section>
    <div class="wrap supply">
      <div class="goods_classify">
        <div class="classity_content">
          <h2>第21周供货计划(5月23日-5月29日)</h2>
          <span>商品分类：</span>
          <div class="select_out">
            <select>
              <option value="请选择商品分类">请选择商品分类</option>
              <option value="发财树">发财树</option>
              <option value="多肉">多肉</option>
              <option value="兰花">兰花</option>
            </select>
          </div>
          <div class="select_out">
            <select>
              <option value="请选择商品分类">请选择商品分类</option>
              <option value="仙人掌">仙人掌</option>
              <option value="翡翠">翡翠</option>
              <option value="芦荟">芦荟</option>
            </select>
          </div>
        </div>
      </div>
      <div class="supply_search fr">
        <div class="clearfix search_box pr">
          <div class="fl">
            <input type="text" class="search_input" placeholder="请输商品名称/订单号搜索" value="" onfocus=";">
          </div>
          <div class="fr"><input type="button" class="supply_search_btn" value="搜索" onclick="Search()"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="wrap supply_content">
      <table>
        <thead>
          <td class="name">商品名称</td>
          <td class="spec">规格/等级</td>
          <td class="model">型号</td>
          <td class="unit">单位</td>
          <td class="total">总计</td>
          <td class="date">星期一</td>
          <td class="date">星期二</td>
          <td class="date">星期三</td>
          <td class="date">星期四</td>
          <td class="date">星期五</td>
          <td class="date">星期六</td>
          <td class="date">星期日</td>
        </thead>
        <tbody>
          <tr>
            <td class="name">发财树发财树发财树发财树发财树发财树发财树发财树</td>
            <td class="spec">90#/A级</td>
            <td class="model">sh</td>
            <td class="unit">盆</td>
            <td class="total">13</td>
            <td class="date">1</td>
            <td class="date">2</td>
            <td class="date">3</td>
            <td class="date">4</td>
            <td class="date">1</td>
            <td class="date">1</td>
            <td class="date">1</td>
          </tr>
          <tr>
            <td class="name">发财树发财树发财树发财树发财树发财树发财树发财树</td>
            <td class="spec">90#/A级</td>
            <td class="model">sh</td>
            <td class="unit">盆</td>
            <td class="total">13</td>
            <td class="date">1</td>
            <td class="date">2</td>
            <td class="date">3</td>
            <td class="date">4</td>
            <td class="date">1</td>
            <td class="date">1</td>
            <td class="date">1</td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>