/* 
* @Author: Marte
* @Date:   2016-06-24 09:32:22
* @Last Modified by:   Marte
* @Last Modified time: 2016-06-24 10:17:42
*/
.banner {
    height: 400px;
    background:pink;
}
.con_worth {
    padding-left: 66px;
    padding-top: 38px;
}
.con_worth .pic_l {
    height: 99px;
    margin-right: 14px;
}
.con_worth .txt {
    padding-top: 20px;
}
.con_worth .txt p {
    line-height: 41px;
}
.con_worth .pic_r {
    margin-top: 88px;
}
.intr_dream {
    padding-top: 50px;
}
.intr_dream p {
    line-height: 45px;
}
.intr_dream p.corgreen {
    color:#81c45d;
}
.picshow {
    padding-top: 28px;
}
.picshow ul {
    margin-right: -40px;
}
.picshow ul li {
    width: 480px;
    height: 360px;
    float: left;
    margin:0 40px 40px 0;
}










































